<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html ng-app="iahsp2017"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>2017 Educational Conference and EXPO</title>
        <meta name="keywords" content="IAHSP, StagedHomes.com, Home Staging Education" />
        <meta name="description" content="IAHSP® is dedicated to advancing the education of the professional ASP® Stager as they prepare homes for sale. IAHSP® members strive to serve the public to the best of their ability built upon the principles, practices, and education of the ASP® Course and Designation." />
        <meta name="Author" content="Jennie Norris, Duane Leem" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- Facebook OpenGraph -->
        <meta property="og:title" content="IAHSP Educational Conference and EXPO">
        <meta property="og:site_name" content="IAHSP Educational Conference and EXPO">
        <meta property="og:url" content="http://www.iahspconexpo.com">
        <meta property="og:description" content="The International Association of Home Staging Professionals® (IAHSP®) is excited to host this high level educational event for top Home Staging business owners worldwide!">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.iahspconexpo.com/assets/images/opengraph.jpg">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- WEB FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="assets/template/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/superslides.css" rel="stylesheet" type="text/css" />

        <!-- REVOLUTION SLIDER -->
        <link href="assets/template/plugins/slider.revolution.v4/css/settings.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="assets/template/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/layout-responsive.css" rel="stylesheet" type="text/css" />
        <link href="assets/template/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" />

        <!-- Vertical Timeline -->
        <link rel="stylesheet" type="text/css" href="assets/template/vertical-timeline/css/component.css" />

        <!-- Google reCAPTCHA -->
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

        <!-- Overrides -->
        <link href="assets/css/custom.css" rel="stylesheet" />

        <!-- Morenizr -->
        <script type="text/javascript" src="assets/template/plugins/modernizr.min.js"></script>
    </head>
    <body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="assets/images/boxed_background/1.jpg"  -->

        <!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=113772792404503";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Logo text or image -->
                <a class="logo scrollTo" href="#wrapper">
                    <img src="assets/images/logo.jpg" class="height-100p" alt="IAHSP" />
                </a>

                <!-- Top Nav -->
                <div class="navbar-collapse nav-main-collapse collapse pull-right">
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
                            <li class="active"><a href="#wrapper">Home</a></li>
                            <li><a href="#keynote">Keynote Speaker</a></li>
                            <li><a href="#hotel">Hotel Accommodations</a></li>
                            <li><a href="#pricing">Registration Fees</a></li>
                            <li><a href="#schedule">Schedule</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /Top Nav -->

            </div>
        </header>

        <span id="header_shadow"></span>
        <!-- /TOP NAV -->

        <!-- WRAPPER -->
        <div id="wrapper">

            <!-- REVOLUTION SLIDER -->
            <section class="fullscreenbanner-container">
                <div class="fullscreenbanner" >
                    <ul>

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/wallpaper-ft-lauderdale.jpg" alt="Ft. Lauderdale, FL" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div id="revolution-layer-0" class="tp-caption large_bold_white customin customout"
                                data-x="" data-hoffset=""
                                data-y="" data-voffset=""
                                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="800"
                                data-easing="Back.easeOut"
                                data-endspeed="500"
                                data-endeasing="Power4.easeIn"
                                style="z-index: 2">

                                International Association of Home Staging Professionals&reg; IAHSP&reg;
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div id="revolution-layer-1" class="tp-caption large_bold_white customin customout"
                                data-x="" data-hoffset=""
                                data-y="" data-voffset=""
                                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="800"
                                data-easing="Back.easeOut"
                                data-endspeed="500"
                                data-endeasing="Power4.easeIn"
                                style="z-index: 2">

                                2017 Educational Conference and EXPO!
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div id="revolution-layer-2" class="tp-caption largegreenbg customin customout"
                                data-x="center" data-hoffset="0"
                                data-y="center" data-voffset="-40"
                                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Back.easeOut"
                                data-endspeed="500"
                                data-endeasing="Power4.easeIn"
                                style="z-index: 3">Feb 10-12, 2017 – Fort Lauderdale, FL
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div id="revolution-layer-3" class="tp-caption small_light_white customin customout"
                                data-x="center" data-hoffset="20"
                                data-y="bottom" data-voffset="-150"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power4.easeInOut"
                                data-endspeed="500"
                                data-endeasing="Power4.easeInOut">

                                <strong>
                                    The International Association of Home Staging Professionals® (IAHSP®) is excited to host this
                                    high level educational event for top Home Staging business owners worldwide!  Join colleagues to learn, share
                                    and grow a successful business that has longevity and profitability.  We have planned two power-packed days
                                    full of vital information as well as opportunities for you to network with colleagues from all over.  Our
                                    vendor-sponsors play a key role in our business success and we are excited to welcome them to the EXPO portion
                                    of our event.  Sign up NOW to secure your spot!
                                </strong>
                            </div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </section>
            <!-- /REVOLUTION SLIDER -->

            <!-- KEYNOTE -->
            <section id="keynote" class="padding100">
                <div class="container">

                    <h1 class="text-center"><strong>Keynote Speaker</strong></h1>
                    <div class="divider"><!-- divider -->
                        <i class="fa fa-star"></i>
                    </div>

                    <article class="row">
                        <div class="col-md-6">
                            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 2, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp", autoplay:true, autoplayTimeout:5000, autoplayHoverPause:false}'>
                                <div>
                                    <img class="img-responsive" src="assets/images/jeff-lewis-2.jpg" width="555" height="311" alt="Jeff Lewis" />
                                </div>
                                <div>
                                    <img class="img-responsive" src="assets/images/jeff-lewis-1.jpg" width="555" height="311" alt="Jeff Lewis" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2><strong>Jeff Lewis</strong>, Star of Bravo TV’s Flipping Out, Designer and Real Estate Expert</h2>
                            <p>
                                <strong>JEFF LEWIS</strong> is widely regarded as America’s most well-known house flipper through his role in Bravo’s docu-series
                                <strong><em>Flipping Out</em></strong>.
                            </p>

                            <p>
                                After renovating his own properties for 20+ years, Jeff launched a design firm in 2009.  By 2010, Jeff was asked to design the
                                House Beautiful Magazine Kitchen of the Year, displayed in Rockefeller Center.
                            </p>

                            <p>
                                In addition to client design work, Jeff launched a line of paint with handcrafted colors in 2013, a line of rugs in 2015, and
                                will launch collections of tile and barn doors while expanding Jeff Lewis Paint to 52-colors in Zero VOC in the Fall of
                                2016.  All products are available exclusively at The Home Depot.  The 9th Season of Flipping Out airs from July to September
                                of 2016.
                            </p>
                        </div>
                    </article>
                </div>
            </section>
            <!-- /KEYNOTE -->

            <!-- PARALLAX -->
            <section id="hotel" class="parallax delayed" data-stellar-background-ratio="0.7" style="background-image: url('assets/images/section-hotel-background.jpg'); background-size: cover;">
                <span class="overlay"></span>

                <div class="container">
                    <h1 class="text-center">Hotel <strong>Accommodations</strong></h1>

                    <div class="row">
                        <!-- left content -->
                        <div class="col-md-7 animation_fade_in">
                            <p class="lead">
                                At the Embassy Suites, every room is a 2-room suite and includes their award winning breakfast buffet!  We have secured a special room rate for
                                our 2017 IAHSP® Conference &amp; EXPO attendees.
                            </p>
                            <p>
                                 When calling (800) 362 2779 to make reservations use code IAH or reserve your hotel room online at the <a href="http://embassysuites.hilton.com/en/es/groups/personalized/F/FLLSOES-IAH-20170204/index.jhtml?WT.mc_id=POG" target="_blank"><strong>Embassy Suites website</strong></a>
                            </p>

                            <p class="text-bold">Deadline to book is:  January 6, 2017 or until room block is <em>SOLD OUT</em>.</p>

                            <p>In the event that this hotel sells out there are many hotels  in the surrounding area.</p>

                            <a class="btn btn-primary btn-lg" href="https://www.hotels.com/de1452339/hotels-near-hollywood-international-airport-fll-fort-lauderdale-united-states-of-america/" target="_blank">Info on Area Hotels Near the Airport</a>

                            <h2 class="space-top-40 space-bottom-20 text-bold">NOTE:</h2>
                            <p>Rates are based on single or double occupancy.  Each additional adult, 18 and older, will be charged an additional $10 per suite, per night.</p>
                            <p>Maximum of 4 people per suite.  Check-in time is <strong>4:00 pm</strong>; check-out time is <strong>11:00 am</strong>.</p>
                            <p>Early check-in and late check-out are subject to availability on day of arrival/departure and subject to additional fees.    If you would like to come in early or stay after, the hotel will honor the rates for 3 days prior OR 3 days after the event.</p>

                            <h2 class="space-top-40 space-bottom-20 text-bold">STAY FOR EXTRA DAYS!</h2>
                            <p>NOTE: If you would like to come in early or stay after, the hotel will honor the rates for 3 days prior OR 3 days after the event.</p>
                        </div>

                        <!-- right image -->
                        <div class="col-md-5 animation_fade_in">
                            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
                                <div>
                                    <img class="img-responsive" src="assets/images/embassy-suites-3.jpg" width="555" height="311" alt="Embassy Suites" />
                                </div>
                                <div>
                                    <img class="img-responsive" src="assets/images/embassy-suites.jpg" width="555" height="311" alt="Embassy Suites" />
                                </div>
                            </div>

                            <!-- Embassy Suites Logo -->
                            <div class="space-top-40"><img src="assets/images/logo-embassy-suites.png" alt="Embassy Suites" class="img-responsive center-block" style="width: 300px;" /></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /PARALLAX -->

            <!-- REGISTRATION FEES -->
            <section id="pricing" ng-include="'views/registration-fees.html'" class="padding100 special-row"></section>
            <!-- /PRICING -->

            <!-- SPEAKERS &amp; HELP -->
            <section id="speakershelp" ng-include="'views/speakers.html'" class="padding100"></section>

            <!-- WE NEED YOUR HELP -->
            <section id="weneedyourhelp" ng-include="'views/your-help.html'" class="padding100 special-row"></section>

            <!-- EVENT SPONSORS -->
            <section id="eventsponsors" ng-include="'views/sponsors.html'" class="padding100"></section>

            <!-- Schedule and Planned Topics -->
            <section id="schedule" ng-include="'views/schedule.html'" class="padding100 special-row"></section>
            <!-- /Schedule and Planned Topics -->

            <!-- CONTACT -->
            <section id="contact" class="padding100 margin-footer" ng-controller="ctrlSendEmail">
                <div class="container">

                    <h1 class="text-center">Contact Us <strong><em>Today!</em></strong></h1>
                    <div class="divider"><!-- divider -->
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="row margin-top60">

                        <!-- FORM -->
                        <div class="col-md-8">

                            <h2>If you have questions about the IAHSP 2017 Educational Conference, just send us a message in the form below with any questions you may have.</h2>

                            <form role="form" name="formContactUs" class="white-row" novalidate="">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>Full Name *</label>
                                            <input type="text" class="form-control" maxlength="100"
                                                ng-class="{ 'has-error': formContactUs.frmName.$error.required && !formContactUs.frmName.$pristine }"
                                                id="frmName"
                                                ng-model="contactDetails.name"
                                                required
                                            /><!-- /frmName -->
                                        </div>
                                        <div class="col-md-6">
                                            <label>E-mail Address *</label>
                                            <input type="email" class="form-control" maxlength="100"
                                                id="frmEmail"
                                                ng-model="contactDetails.email"
                                                required
                                            /><!-- /frmEmail -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Subject</label>
                                            <input type="text" class="form-control" maxlength="100"
                                                ng-class="{ 'has-error': formContactUs.frmSubject.$error.required && !formContactUs.frmSubject.$pristine }"
                                                id="frmSubject"
                                                ng-model="contactDetails.subject"
                                                required
                                            /><!-- /frmSubject -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Message *</label>
                                            <textarea id="frmMessage" rows="10" maxlength="5000" class="form-control"
                                                ng-class="{ 'has-error': formContactUs.frmMessage.$error.required && !formContactUs.frmMessage.$pristine }"
                                                ng-model="contactDetails.message"
                                                required
                                            ></textarea><!-- /frmMessage -->
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div vc-recaptcha key="'6Le-_AMTAAAAALK8HJZy0WyzIKsMp5T1sEvQNIYr'"></div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-lg" ng-click="fnClearForm();">Clear</button>
                                        <button type="button" class="btn btn-primary btn-lg" id="submit"
                                            ng-click="fnSendForm()"
                                            ng-class="{'disabled': formContactUs.$invalid}"
                                            ng-disabled="formContactUs.$invalid"
                                        >Send Message</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- /FORM -->


                        <!-- INFO -->
                        <div class="col-md-4">

                            <h2>Visit Us</h2>

                            <div class="white-row">
                                <div id="gmap"><!-- google map --></div>
                                <script type="text/javascript">
                                    var $googlemap_latitude     = 26.141404,
                                        $googlemap_longitude    = -80.118047,
                                        $googlemap_zoom         = 13;
                                </script>

                                <div class="divider white half-margins"><!-- divider -->
                                    <i class="fa fa-star"></i>
                                </div>

                                <p class="nomargin-bottom">
                                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:18003927161">800-392-7161</a></span>
                                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:christa@iahsp.com">christa@iahsp.com</a></span>
                                </p>

                            </div>
                        </div>
                        <!-- /INFO -->
                    </div>
                </div>
            </section>
            <!-- /CONTACT -->

        </div>
        <!-- /WRAPPER -->



        <!-- FOOTER -->
        <footer>

            <!-- copyright , scrollTo Top -->
            <div class="footer-bar">
                <div class="container">
                    <span class="copyright">Copyright &copy; IAHSP. All Rights Reserved.</span>
                    <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
                </div>
            </div>
            <!-- copyright , scrollTo Top -->


            <!-- footer content -->
            <div class="footer-content">
                <div class="container">

                    <div class="row">


                        <!-- FOOTER CONTACT INFO -->
                        <div class="column col-md-4">
                            <h3>CONTACT</h3>

                            <address class="font-opensans">
                                <ul>
                                    <li class="footer-sprite address">
                                        <a href="https://www.google.com/maps/place/11757+W+Ken+Caryl+Ave,+Littleton,+CO+80127/@39.5817463,-105.1339234,17z/data=!3m1!4b1!4m5!3m4!1s0x876b79341fd57d89:0x7e7cef4fcaf4d8e1!8m2!3d39.5817463!4d-105.1317347" target="_blank">
                                            11757 W Ken Caryl Ave., F402<br />
                                            Littleton, CO 80127<br />
                                        </a>
                                    </li>
                                    <li class="footer-sprite phone">
                                        Phone: <a href="tel:18003927161">1-800-392-7161</a>
                                    </li>
                                    <li class="footer-sprite email">
                                        <a href="mailto:christa@iahsp.com">christa@iahsp.com</a>
                                    </li>
                                </ul>
                            </address>

                        </div>
                        <!-- /FOOTER CONTACT INFO -->


                        <!-- FOOTER LOGO -->
                        <div class="column logo col-md-4 text-center">
                            <div class="logo-content">
                                <img class="animate_fade_in" src="assets/images/logo-iahsp-footer.png" width="350" alt="" />
                            </div>
                        </div>
                        <!-- /FOOTER LOGO -->


                        <!-- FOOTER LATEST POSTS -->
                        <div class="column col-md-4 text-right">
                            <div class="fb-page" data-href="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/InternationalAssociationofHomeStagingProfessionals">International Association of Home Staging Professionals</a></blockquote></div>
                        </div>
                        <!-- /FOOTER LATEST POSTS -->

                    </div>

                </div>
            </div>
            <!-- footer content -->

        </footer>
        <!-- /FOOTER -->



        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" src="assets/template/plugins/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="assets/template/plugins/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/template/plugins/jquery.appear.js"></script>
        <script type="text/javascript" src="assets/template/plugins/jquery.isotope.js"></script>
        <script type="text/javascript" src="assets/template/plugins/masonry.js"></script>

        <script type="text/javascript" src="assets/template/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/stellar/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/knob/js/jquery.knob.js"></script>
        <script type="text/javascript" src="assets/template/plugins/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/superslides/dist/jquery.superslides.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
        <script type="text/javascript" src="assets/template/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

        <!-- REVOLUTION SLIDER -->
        <script type="text/javascript" src="assets/template/plugins/slider.revolution.v4/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="assets/template/plugins/slider.revolution.v4/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="assets/template/js/slider_revolution.js"></script>

        <script type="text/javascript" src="assets/template/js/scripts.js"></script>

        <!-- ONEPAGE NAVIGATION -->
        <script type="text/javascript" src="assets/template/plugins/jquery.nav.min.js"></script>

        <!-- ====================================================================
            Additional & Custom Modules
        ==================================================================== -->
        <script type="text/javascript" src="assets/bower_components/enquire/dist/enquire.min.js"></script>
        <script type="text/javascript" src="assets/js/custom.js"></script>

        <!-- ====================================================================
            Angular
        ==================================================================== -->
        <script type="text/javascript" src="assets/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/bower_components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
        <script type="text/javascript" src="assets/js/angular/app.js"></script>
        <script type="text/javascript" src="assets/js/angular/services.js"></script>
        <script type="text/javascript" src="assets/js/angular/controllers.js"></script>
        <script type="text/javascript" src="assets/js/angular/directives.js"></script>
    </body>
</html>
