<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/assets/images/logo-2017-iahsp-awards.jpg" class="img-responsive center-block" style="width: 400px;" alt="IAHSP 2017 Awards" />
        </div><!-- /col -->

        <div class="col-xs-12 col-md-6">
            <h1><strong>IAHSP<sup>&reg;</sup> 2017 Awards</strong></h1>

            <p>
                The International Association of Home Staging Professionals®  (IAHSP®) is proud to recognize top achievers in the Home Staging industry.  Since 2003, IAHSP® has recognized those that serve the industry and once again will be recognizing industry professionals in various categories at our 2017 IAHSP® Conference & EXPO.  Please review the various categories and either submit your own information for consideration or nominate an industry colleague.  Submissions must be received by Friday, January 6th at midnight PST.  We want to say in advance, “Congratulations to all those in consideration for these prestigious awards!”  Awards will be presented at our 2017 IAHSP® Conference & EXPO Awards Dinner in Fort Lauderdale, Saturday, Feb 11th.
            </p>

            <div class="space-top-40"><a class="btn btn-success" href="https://docs.google.com/forms/d/e/1FAIpQLScAaXQpuSWcGvSMvu2WAlq_HmeKZrCY5ycbQVkV3CJ9KS7F-A/viewform" target="_blank">Submit Nomination</a></div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->