<div class="container">
    <h1 class="text-center"><strong>Earn the NEW IAHSP® CC</strong></h1>

    <div class="col-sm-8">
        <div class="lead">
            IAHSP® CC - Color Consultant Designation at the 2017 IAHSP Conference &amp; EXPO!  GETAWAY with a TAKEAWAY!  Working with color can be challenging and we want our members to feel confident in helping clients with color selections whether Staging to Sell or Staging to Live!  Industry experts, Joanne Lenart-Weary and Kristie Barnett will be teaching on:
        </div><!-- /lead -->

        <ul style="margin-left: 40px;">
            <li>How to work with color</li>
            <li>Best neutrals and color balance</li>
            <li>How to select colors</li>
            <li>How to work with existing colors in a home for sale</li>
            <li>The psychology of color</li>
            <li>Working with Color decks and color wheel</li>
            <li>and more!</li>
        </ul>

        <div class="space-top-20">
            Education is the foundation of our association and membership and we want all attendees to maximize their conference investment and knowledge to help them grow their business and confidence!
        </div>
    </div><!-- /col -->

    <div class="col-sm-4">
        <img src="/assets/images/logo-iahsp-cc.jpg" alt="" class="" style="width: 100%" />
    </div><!-- /col -->

    
</div><!-- /container -->
