<div class="container">

    <h1 class="text-center"><strong>Registration Fees</strong></h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="lead" style="color: black;">
        <p>
            The International Association of Home Staging Professionals<sup>&reg;</sup> (IAHSP<sup>&reg;</sup>) is the original industry association
            that since 1999 has set the standards of excellence and ethics.  We believe education is paramount to the
            integrity of our association and since its inception, IAHSP<sup>&reg;</sup> has always required that members have training
            in the Home Staging industry.  This differentiating factor is important so that all members have a benchmark
            of education and training relative to Home Staging.
        </p>
        <p>
            The following training courses and designations are currently approved for membership in IAHSP<sup>&reg;</sup>.  If you do
            not see your training course listed, please contact Director of Operations for IAHSP<sup>&reg;</sup> at
            <a href="mailto:bj@iahsp.com">bj@iahsp.com</a> for consideration for membership.
        </p>
        <ul>
            <li>AHSC – Academy of Home Staging &amp; Design</li>
            <li>Academy of Luxury Home Staging</li>
            <li>ASID – American Society of Interior Designers</li>
            <li>ASP<sup>&reg;</sup> - Accredited Staging Professional<sup>&reg;</sup></li>
            <li>ASPM<sup>&reg;</sup> - Accredited Staging Professional Master<sup>&reg;</sup></li>
            <li>APSD - Association of Property Scene Designers</li>
            <li>CHSSP - Certified Home Staging &amp; Styling Professional</li>
            <li>CIR - Certified Interior Redecorator &amp; Resale Ready Staging Expert</li>
            <li>CSP - Certified Staging Professional</li>
            <li>CSP - Canadian Staging Professional</li>
            <li>CSS - Certified Staging Specialist</li>
            <li>DSA – Decorating and Staging Academy</li>
            <li>EPS<sup>&trade;</sup> - Expert Psychological Stager<sup>&trade;</sup></li>
            <li>HSA – Home Staging Academy</li>
            <li>HSR - Home Staging and Redesign</li>
            <li>HSE – Home Staging Expert</li>
            <li>ISRP - International Staging and Redesign Professional</li>
            <li>PRS - Professional Real Estate Stager</li>
            <li>PSE – Professional Staging Expert</li>
            <li>RESP - Real Estate Staging Professional</li>
            <li>SAR - Staging and Redesign</li>
            <li>SDA<sup>&trade;</sup> - Staging Design Agent<sup>&trade;</sup></li>
            <li>SDP<sup>&trade;</sup> - Staging Design Professional<sup>&trade;</sup></li>
            <li>USC - Ultimate Stager Academy</li>
        </ul>
    </div>

    <!-- Tabs -->
    <div class="space-top-40">
        <div class="tabs nomargin-top">
            <!-- tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">
                        <strong style="font-size: x-large;"><i class="fa fa-check-square"></i> IAHSP Members</strong>
                    </a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab">
                        <strong style="font-size: x-large;"><i class="fa fa-check-square"></i> Non-IAHSP Members</strong>
                    </a>
                </li>
            </ul>

            <!-- tabs content -->
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    <div class="row pricetable-container">
                        <div class="col-md-4 price-table popular">
                            <h3>EARLY BIRD</h3>
                            <p>
                                $455
                                <span>Now through Sept 30, 2016</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>

                        <!-- Add CSS "popular" to add darker emphasis -->
                        <div class="col-md-4 price-table">
                            <h3>REGULAR</h3>
                            <p>
                                $495
                                <span>Oct 1, 2016 – Jan 8, 2017</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>

                        <div class="col-md-4 price-table">
                            <h3>LAST MINUTE</h3>
                            <p>
                                $575
                                <span>Jan 9 – Feb 1</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="tab2" class="tab-pane fade">
                    <div class="row pricetable-container">
                        <div class="col-md-4 price-table popular">
                            <h3>EARLY BIRD</h3>
                            <p>
                                $595*
                                <span>Now through Sept 30, 2016</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>

                        <!-- Add CSS "popular" to add darker emphasis -->
                        <div class="col-md-4 price-table">
                            <h3>REGULAR</h3>
                            <p>
                                $645*
                                <span>Oct 1, 2016 – Jan 8, 2017</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>

                        <div class="col-md-4 price-table">
                            <h3>LAST MINUTE</h3>
                            <p>
                                $725*
                                <span>Jan 9 – Feb 1</span>
                                <a href="http://www.regonline.com/iahsp2017conference" target="_blank" class="btn btn-primary btn-sm">REGISTER</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- IAHSP Membership -->
    <div class="row space-top-40">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="text-center">Not an IAHSP<sup>&reg;</sup> Member?</h2>
            <p>
                Your conference ticket price includes a full year of membership in IAHSP<sup>&reg;</sup> which includes access to our Educational
                Conference and EXPO, IAHSP<sup>&reg;</sup> Regional Chapters, Vendor Discounts, added Education and Designations, logos, website
                exposure and bio, and more!
            </p>
        </div><!-- /col -->
    </div><!-- /row -->
</div>
