<div class="container">
    <h1 class="text-center">Schedule and Planned Topics</h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <!-- Timeline -->
    <div class="row space-top-40">
        <div class="col-lg-8">
            <div class="main">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="2017-02-10 15:00"><span>2/10/17</span> <span>3:00PM</span></time>
                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                        <div class="cbp_tmlabel">
                            <p class="text-white text-bold">Friday, February 10, 2017</p>
                            <ul class="text-white">
                                <li class="text-white">3 PM - 7 PM | Meet N Greet and Vendor Expo – No Host Bar</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-02-11 09:00"><span>2/11/17</span> <span>9:00AM</span></time>
                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                        <div class="cbp_tmlabel">
                            <p class="text-white text-bold">Saturday, February 11, 2017</p>
                            <ul class="text-white">
                                <li class="text-white">9 AM - Noon | Educational Sessions</li>
                                <li class="text-white">12 PM - Lunch Provided | Featured Sponsors Sharing</li>
                                <li class="text-white">1:30 PM – 3:45 PM | Educational Sessions</li>
                                <li class="text-white">4:00 PM – 5:00 PM | Keynote Speaker</li>
                                <li class="text-white">5:30 PM – 7:30 PM | Networking, No-host bar & Dinner – Featured Sponsors</li>
                                <li class="text-white">7:30 PM | Awards and Silent & Live Auction – WWSSW®</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <time class="cbp_tmtime" datetime="2017-02-12 09:00"><span>2/12/17</span> <span>9:00AM</span></time>
                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                        <div class="cbp_tmlabel">
                            <p class="text-white text-bold">Sunday, February 12, 2017</p>
                            <ul class="text-white">
                                <li class="text-white">9:00 AM – Noon | Educational Sessions</li>
                                <li class="text-white">12:00 PM -  Lunch Provided | Featured Sponsors Sharing</li>
                                <li class="text-white">1:00 PM – 5:30 PM – Educational Sessions</li>
                                <li class="text-white">5:30 PM | Close of Conference</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <h2 class="space-top-20 text-center">TOPICS</h2>

            <div>
                <ul>
                    <li>Raise the BAR in Your Business</li>
                    <li>Design Trends for 2016 and Beyond</li>
                    <li>Panel Discussion – Staging Business Leaders</li>
                    <li>Marketing, Photography & Branding Your Business</li>
                    <li>Model Home Merchandising</li>
                    <li>Conquering Shopping at Market</li>
                    <li>Building Your Investor Clientele</li>
                    <li>Building A Team</li>
                    <li>Business Applications Every Stager Needs</li>
                    <li>AND MORE!</li>
                </ul>
            </div>
        </div>
    </div><!-- /row -->
</div>