<div class="container">
    <h1 class="text-center"><strong>Call for Speakers</strong></h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="lead">
        <p class="text-center">If you would like to be considered as a Featured Speaker for this event, please use the signup button:</p>
    </div><!-- /lead -->

    <!-- CALL FOR SPEAKERS -->
    <div class="row space-top-40">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-center space-bottom-20"><a href="http://www.SignUpGenius.com/go/4090F4CABAF2BA5F85-call" target="_blank" class="btn btn-primary btn-lg"><strong>Featured Speaker Signup</strong></a></div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
