<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center"><strong>Conference Sponsors</strong></h1>
        </div><!-- /col -->
    </div><!-- /row -->

    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <h2 class="text-center text-bold">Platinum Sponsor</h2>

            <a href="http://www.surya.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/surya.png" class="img-responsive" alt="Surya" />
            </a><!-- /thumbnail -->
        </div><!-- /col -->

        <div class="col-xs-12 col-sm-3">
            <h2 class="text-center text-bold">Gold Sponsor</h2>

            <a href="https://www.sherwin-williams.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/sherwin-williams.png" class="img-responsive" alt="Sherwin Williams" />
            </a><!-- /thumbnail -->
        </div><!-- /col -->
        
        <!-- Silver -->
        <div class="col-xs-12 col-sm-3">
            <h2 class="text-center text-bold">Silver Sponsor</h2>

            <a href="http://cort.com" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/cort-furniture.png" class="img-responsive" alt="CORT Furniture Rental" />
            </a><!-- /thumbnail -->

            <a href="http://furniturerent.com" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/churchill.png" class="img-responsive" alt="Churchill" />
            </a><!-- /thumbnail -->

            <a href="https://www.wayfair.com/v/business_account/application/pico" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/wayfair.jpg" class="img-responsive" alt="Wayfair Business" />
            </a><!-- /thumbnail -->

            <a href="http://www.stagedhomes.com" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/stagedhomes.jpg" class="img-responsive" alt="StagedHomes.com" />
            </a><!-- /thumbnail -->

            <a href="http://www.coasttocoastaccents.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/coast-to-coast.jpg" class="img-responsive" alt="Coast to Coast" />
            </a><!-- /thumbnail -->
        </div><!-- /col -->

        <!-- Bronze -->
        <div class="col-xs-12 col-sm-3">
            <h2 class="text-center text-bold">Bronze Sponsor</h2>

            <a href="http://kmrdpartners.com" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/kmrd-insurance.png" class="img-responsive" alt="KMRD Partners, Inc." />
            </a><!-- /thumbnail -->

            <a href="http://www.trusentry.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/trusentry.png" class="img-responsive" alt="TruSENTRY" />
            </a><!-- /thumbnail -->

            <a href="https://sotellus.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/sotellus.jpg" class="img-responsive" alt="SoTellUs" />
            </a><!-- /thumbnail -->

            <a href="https://thedecorologist.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/decorologist.jpg" class="img-responsive" alt="Decorologist" />
            </a><!-- /thumbnail -->

            <a href="http://the-dsa.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/dsa.jpg" class="img-responsive" alt="The Decorating & Staging Academy" />
            </a><!-- /thumbnail -->

            <a href="https://www.propsamerica.com/" target="_blank" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/props-america.jpg" class="img-responsive" alt="Props America" />
            </a><!-- /thumbnail -->

            <a href="" class="thumbnail space-bottom-20">
                <img src="https://d3oaxt0bwkjnjn.cloudfront.net/iahspconexpo/images/sponsors/darby.jpg" class="img-responsive" alt="Darby" />
            </a><!-- /thumbnail -->
        </div><!-- /col -->
    </div><!-- /row -->

    
</div><!-- /container -->
