<div class="container">
    <h1 class="text-center"><strong>Event Sponsors</strong></h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="lead">
        <p>We are looking for companies and individuals that would like to be part of our 2017 IAHSP EXPO	 and get in front of top Home Staging business owners.</p>
        <p>We have four different Sponsorship Levels and what you receive in exchange for your sponsorship of our event.</p>
    </div>

    <!-- Sponsor Levels -->
    <div class="row space-top-40">
        <div class="col-lg-10 col-lg-offset-1">
            <div id="sponsorLevels" class="table-responsive">
                <table class="table table-bordered" style="background-color: white;">
                    <thead>
                        <tr>
                            <th class="text-valign-middle">
                                <span style="font-size: x-large;">2017 CONFERENCE &amp; EXPO</span><br />
                                Sponsorship Includes:
                            </th>
                            <th class="text-center"><img src="assets/images/sponsor-platinum-premier.jpg" style="width: 100px; height: auto;" alt="Platinum" /><br />$8,000</th>
                            <th class="text-center"><img src="assets/images/sponsor-platinum.jpg" style="width: 100px; height: auto;" alt="Platinum" /><br />$6,000</th>
                            <th class="text-center"><img src="assets/images/sponsor-gold.jpg" alt="Gold" /><br />$4,000</th>
                            <th class="text-center"><img src="assets/images/sponsor-silver.jpg" alt="Silver" /><br />$2,000</th>
                            <th class="text-center"><img src="assets/images/sponsor-bronze.jpg" alt="Bronze" /><br />$1,000</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="width-500p">Special feature in all ASP-ASPM Courses taught worldwide &amp; speaking at the 2017 Conference</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="width-500p">Tickets to the IAHSP&reg; 2017 Conference</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />4 Tickets</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />3 Tickets</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />2 Tickets</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />1 Ticket</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Full access to the Networking Trade Show (Friday night)</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>Access to all Educational Sessions and Speakers</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Home Staging Industry Awards (Sunday)</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Featured in the exclusive event program with premier placement and full-page advertisement for your company.</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Display space both during entire conference and networking business trade show (Friday night).</td>
                            <td class="text-center">Premium<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center">Premium<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center">Deluxe<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center">Hallway<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />5 ft table</td>
                            <td class="text-center">Hallway<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i><br />5 ft table</td>
                        </tr>
                        <tr>
                            <td>Ability to bring in your own furnishings for your space set-up.</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>IAHSP&reg; co-branded marketing "Brought to you by IAHSP&reg; and Your Company Name"</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Brand event giveaways such as lanyards, tote bags, or notebooks with your company logo.</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>One-year of advertising on the IAHSP.com website.</td>
                            <td class="text-center">Premium Exposure<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center">Premium Exposure<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center">Premium Exposure<br /><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>Facebook Page (both private and public), LinkedIn Page, and the IAHSP&reg; 2017 Conference and Expo site for preferred vendors</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Social Media exposure to followers and viewers on Facebook, Twitter, LinkedIn, Pinterest, Instagram, and Google+</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Highlighted in industry newsletters and blogs that promote our partner vendors to a circulation of over 15,0000 industry business owners worldwide.</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Special press releases about our event highlighting you as a Premier Sponsor</td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-lg" aria-hidden="true"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /col -->
    </div><!-- /row -->

    <!-- Button Registration -->
    <div class="text-center space-top-40">
        <a class="btn btn-primary btn-lg" href="https://www.regonline.com/Register/Checkin.aspx?EventID=1872275" target="_blank"><strong>BE ONE OF OUR PREFERRED SPONSORS - CLICK HERE TO SIGN UP!</strong></a>
    </div>
</div><!-- /container -->

<div class="container padding100">
    <h1 class="text-center"><strong>Product Sales Vendor</strong></h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="lead">
        <p>We invite individuals that sell products to have a table at our event.  For more information please contact <a href="mailto:Sandra@iahsp.com">Sandra@iahsp.com</a>.  A 5 foot table is $300 for the event.  Space is limited.</p>
    </div>

    <!-- Button Registration -->
    <div class="text-center space-top-40">
        <a class="btn btn-primary btn-lg" href="" target="_blank"><strong>To Register and Secure Your Spot Please Click Here</strong></a>
    </div>
</div><!-- /container -->