<div class="container">
    <h1 class="text-center"><strong>We Need Your Help</strong></h1>
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="lead">
        <p class="text-center">If you would like to volunteer for the IAHSP 2017 Educational Conference Expo, you can sign up by clicking the button:</p>
    </div><!-- /lead -->

    <div class="row space-top-40">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-center space-bottom-20"><a href="http://www.SignUpGenius.com/go/4090F4CABAF2BA5F85-iahsp" target="_blank" class="btn btn-primary btn-lg"><strong>Volunteer Signup</strong></a></div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
