/* ===========================================================================
    StagedHomes.com
    Developer: Duane Leem, MSc
    Email: duane@stagedhomes.com
=========================================================================== */

/* ===========================================================================
    Intro
=========================================================================== */
.darken-main-parallax {
    opacity: 0.8;
    background; black;
}

/* Mobile L + */
@media only screen and (max-width: 425px) {
    #revolution-layer-3 {
        z-index: 4;
        white-space: normal;
        width: 90%;

        /* Font */
        font-size: 350%;
        line-height: 100%;
    }
}

/* Tablet + */
@media only screen and (min-width: 426px) {
    #revolution-layer-3 {
        z-index: 4;
        white-space: normal;
        width: 90%;
        font-size: x-large;
    }
}


/* ===========================================================================
    Vertical Timeline
=========================================================================== */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2em;
}

#sponsorLevels td {
    vertical-align: middle;
}


/* ===========================================================================
    Registration Fees
=========================================================================== */
.lead > ul > li { color: black; }
#pricing > .container > .lead > p { color: black; }
#pricing > .container > div > div > p { color: black; }


/* ===========================================================================
    Footer
=========================================================================== */
footer .column.logo {
    background: white;
}


/* ===========================================================================
    Default Components
=========================================================================== */



/* ===========================================================================
    Common Components
=========================================================================== */
.space-top-20 { margin-top: 20px; }
.space-top-40 { margin-top: 40px; }
.space-bottom-20 { margin-bottom: 20px; }

.width-500p { width: 400px; }
.height-100p { height: 100%; }

.text-valign-middle { vertical-align: middle !important; }
.text-white { color: #ffffff; }
.text-bold { font-weight: bold; }
